$core-default-color-status-caution-default: #ffcc2c;
$core-default-color-status-caution-darker: #B38800;
$core-default-color-status-caution-lighter: #fff2c9;
$core-default-color-status-caution-lightest: #fffaea;
$core-default-color-status-info-default: #0085b3;
$core-default-color-status-info-darker: #006a8f;
$core-default-color-status-info-lighter: #e5eef5;
$core-default-color-status-info-lightest: #eff4f9;
$core-default-color-status-error-default: #e22339;
$core-default-color-status-error-darker: #8a1220;
$core-default-color-status-error-lighter: #fdf0f0;
$core-default-color-status-error-lightest: #fff6f6;
$core-default-color-status-success-default: #339d37;
$core-default-color-status-success-darker: #0a690d;
$core-default-color-status-success-lighter: #f2faf4;
$core-default-color-status-success-lightest: #f7fbf8;
$core-default-color-status-underline-light: #ffffffb8;
$core-default-color-status-underline-dark: #03213fb8;
